@import "_variables";

.user-avatar {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	margin-right: 4px;
}

.btn:focus {
	box-shadow: none;
	text-decoration: none;
}

.btn:hover {
	text-decoration: none;
}

.course-card {
	height: 440px;

	&-body {
		display: flex;
		flex-direction: column;
	}

	.course-description {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 4; /* number of lines to show */
		-webkit-box-orient: vertical;
		margin-bottom: 4px;
	}

	.btn-learn-now {
		margin-top: auto;
	}
}
